---
import Layout from '../layouts/Layout.astro'
import Information from '../components/about/Information.astro'
import InfoLayers from '../components/about/InfoLayers.astro'

//NextUI
import {Divider} from "@nextui-org/react";

//Data
import {aboutUs} from '../data/infoSGM';

---

<Layout title="Sobre nosotros">
    <main class="max-w-screen-xl py-8 m-auto">
        <h1 class="text-2xl text-center py-20 md:text-4xl">Sobre nosotros</h1>
        <Information {...aboutUs.history} LtoR={true} />
        <Information {...aboutUs.mision} LtoR={false} />
        <Information {...aboutUs.vision} LtoR={true} />
        <Information {...aboutUs.values} LtoR={false} />
        <InfoLayers/>
    </main>
</Layout>